<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Maven 全局设置文件
  ~ 此文件会覆盖 pom.xml 中的仓库配置
  -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
          http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- 镜像配置 -->
    <mirrors>
        <!-- 阿里云公共仓库镜像 -->
        <mirror>
            <id>aliyun-public</id>
            <name>Aliyun Maven Public Repository</name>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

</settings>
