<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.admin.mapper.AdminRoleMapper">

    <!-- 物理删除指定角色名前缀的测试角色（prefix 需以 e2e_ 开头，调用方/Service 已校验） -->
    <delete id="deleteByRoleNamePrefix">
        DELETE FROM t_admin_role WHERE role_name LIKE CONCAT(#{prefix}, '%') ESCAPE '\\'
    </delete>

</mapper>
